

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>visity.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding container animate__animated animate__fadeIn animate__delay-1s">

    <h1>Contact Us</h1>

    <p>
      We would love to hear from you. 
    </p>

    <p>
      <b>Phone:</b><br>
      +91-9773470626
    </p> 

    <p>
      <b>Email:</b><br>
      hello@visity.io
    </p>

    <p>
      <b>Address:</b><br>
      Drawing Board, CIIE.CO, <br>IIM A New Campus, Vastrapur,<br> Ahmedabad 382210
    </p>

</div>

<a href="https://wa.link/mglhz6" class="float animate__animated animate__fadeInRight animate__delay-2s" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>

</ion-content>
