



<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>visity.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding container animate__animated animate__fadeIn animate__delay-1s">

      <h1>How It Works</h1>

      <p>
        Whether you are organizing a conference, concert, trade show, or any other type of event, Visity has you covered.
      </p>

      <ol>
        <li>
          Event organizers create an RSVP form for their event. The form can be customized to collect the information that the event organizers wish to collect from attendees, such as name, phone, email address, or ticket type.
        </li>
        <li>
          Attendees fill out the RSVP form to register for the event. Upon submitting the form, they will receive a confirmation SMS, which includes a link to their QR code. 
        </li>
        <li>
          When attendees arrive at the event, they present the QR code to a Visity scanner, which is used by event staff to scan the code and verify their attendance. The Visity system records the check-in and displays the relevant information on the scanner's device.
        </li>
        <li>
          Event organizers can use the Visity admin panel to track attendance in real-time and verify the identity of attendees.          
        </li>
      </ol>

      <p>
        Overall, Visity's dynamic QR code system provides a convenient and efficient solution for managing event attendance, improving the overall experience for attendees and event organizers.
      </p>
  

  </div>

  <a href="https://wa.link/mglhz6" class="float animate__animated animate__fadeInRight animate__delay-2s" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>

</ion-content>
 