<!-- <ion-header>
  <ion-toolbar>
    <ion-title>CSS Playground</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-progress-bar type="indeterminate" *ngIf="ShowLoading"></ion-progress-bar>
 
  <div class="container-grid error">

    <ion-grid>

      <ion-col class="animate__animated animate__fadeInDown">
        <ion-img [src]="rsvpInfo?.clientId?.customFields?.logoUrl" alt="Brand Logo" class="brand"></ion-img>
      </ion-col>

    </ion-grid>


    <!-- Show Error -->
    <ion-grid class="custom-grid-1 animate__animated animate__fadeIn" [fixed]="true" *ngIf="ShowError">
 
      <ion-row>
        <ion-col size="12" size-sm="12" class="custom-spinner">
          <ion-img src="../assets/error.jpg" alt="Error" class="check-mark"></ion-img>
          <p id="fname">Oops, that's not a valid link. Please try again. </p>
        </ion-col>
      </ion-row>
  
    </ion-grid>

  </div>


  <!-- Default QR Code -->

  <div class="container-grid" *ngIf="ShowDefaultRSVP">

    <ion-grid class="custom-grid-1" [fixed]="true">

      <ion-row>
        <ion-col size="12" size-sm="12" id="eventInfo">
          <h1 class="animate__animated animate__bounceInLeft animate__delay-1s">
              {{rsvpInfo?.eventId?.eventName}}
          </h1>

        <!-- <ion-card class="eventDetailsCard">

          <ion-grid>
            
            <ion-row>
              <ion-col size-xs="2" class="ion-text-right">
                <ion-icon name="time-outline"></ion-icon>
              </ion-col>
              <ion-col size-xs="10" class="ion-text-left">
                {{rsvpInfo?.eventId?.time}}
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="2" class="ion-text-right">
                <ion-icon name="calendar-outline"></ion-icon>
              </ion-col>
              <ion-col size-xs="10" class="ion-text-left">
                {{rsvpInfo?.eventId?.date}}
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="2" class="ion-text-right">
                <ion-icon name="location-outline"></ion-icon>
              </ion-col>
              <ion-col size-xs="10" class="ion-text-left">
                {{rsvpInfo?.eventId?.venue}}
              </ion-col>
            </ion-row>

          </ion-grid>


        </ion-card> -->

          <div id="EventDetails">
            <p class="animate__animated animate__bounceInRight animate__delay-1s">
              {{rsvpInfo?.eventId?.time}} <br>
              {{rsvpInfo?.eventId?.date}} <br>
            </p>
              <ion-badge class="animate__animated animate__fadeIn animate__delay-2s" color="primary" id="badge1" (click)="ToggleEventInfo()">View Details</ion-badge>
              
              <p class="animate__animated animate__fadeIn" *ngIf="ShowEventInfo">
                {{rsvpInfo?.eventId?.venue}} <br>
                <a [href]="rsvpInfo.eventId.googleMapURL" target="_blank" *ngIf="rsvpInfo.eventId.googleMapURL">
                  View on Google Maps
                </a>
                
                <br>

                <a [href]="rsvpInfo.eventId.eventDetailsURL" target="_blank" *ngIf="rsvpInfo.eventId.eventDetailsURL">
                  View Event Page
                </a>

              </p>

            </div>

        
        </ion-col>
      </ion-row>

      <ion-row class="animate__animated animate__fadeIn animate__delay-3s">
        <ion-col size="12" size-sm="12">
          <qr-code [value]="QRCodeValue" [size]="150" foreground="#000000" ></qr-code>
          <p id="subText" class="animate__animated animate__fadeInDown animate__delay-3s">Show QR Code at Venue </p>
        </ion-col>
      </ion-row>

      <!-- Already Scanned -->
      <!-- <ion-row *ngIf="ShowCheckMark">
        <ion-col size="12" size-sm="12">
          <ion-img src="../assets/check.jpg" alt="Green Tick" class="AlreadyScanned"></ion-img>
          <p id="subText">Last Scanned at 4:42 PM on 4 Dec 2022</p>
        </ion-col>
      </ion-row> -->

    </ion-grid>


    <!-- RSVP Info -->
    
    <ion-card class="cardContent animate__animated animate__fadeIn animate__delay-4s">

      <ion-grid class="custom-grid-1 otherInfo ion-text-left">
        <ion-row>
          <ion-col size-xl="6" offset-xl="3">
            Name:
          </ion-col>
          <ion-col size-xl="6" offset-xl="3">
            <b>{{rsvpInfo?.userId?.name}}</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-xl="6" offset-xl="3">
            Mobile:
          </ion-col>
          <ion-col size-xl="6" offset-xl="3">
            <b>{{rsvpInfo?.userId?.mobile}}</b>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="rsvpInfo.userId.email">
          <ion-col size-xl="6" offset-xl="3">
            Email:
          </ion-col>
          <ion-col size-xl="6" offset-xl="3">
            <b>{{rsvpInfo?.userId?.email}}</b>
          </ion-col>
        </ion-row>
      
      </ion-grid>

    </ion-card>    

  </div>


  <ion-grid class="custom-grid-1 poweredBy animate__animated animate__fadeInUp animate__delay-5s" [fixed]="true">
 
    <ion-row>
      <ion-col size="12" size-sm="12" class="custom-spinner">
        Powered By
        <a href="https://www.visity.io/" target="_blank">
          <ion-img src="../assets/visity.png" alt="Visity Logo" class="visity"></ion-img>
        </a>
      </ion-col>
    </ion-row>

  </ion-grid>  

</ion-content>
