<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Visity.</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content class="main-container">

  <ion-grid class="grid">
    <ion-row class="ion-text-center">

      <ion-col 
      size-xs="10" offset-xs="1"
      size-sm="10" offset-sm="1" 
      size-md="10" offset-md="1"
      size-lg="10" offset-lg="1"
      size-xl="10" offset-zl="1">


        <div id="left-panel">
          <a href="https://www.visity.io/" target="_blank">
            <ion-img src="../assets/visity.png" alt="Visity Logo" class="logo animate__animated animate__fadeInDown"></ion-img>
          </a>
          <p id="title" class="animate__animated animate__fadeIn animate__delay-1s">We simplify<br>event check-ins</p>
          <!-- <p id="title" class="animate__animated animate__fadeInLeft">Your Universal Virtual ID</p> -->
          <p id="subTitle" class="animate__animated animate__fadeIn animate__delay-2s">by generating unique QR Codes for all your attendees</p>        
          <!-- <p id="subTitle" class="animate__animated animate__fadeInLeft">Visity's QR Code can be used for <br><ion-text color="" class="animate__animated animate__fadeIn ">{{value}}</ion-text></p>         -->
        
          <ion-menu-toggle>
            <ion-button fill="outline" shape="round" class="animate__animated animate__fadeInDown animate__delay-3s">Learn More</ion-button>
          </ion-menu-toggle>
        
        </div>

      </ion-col>

      <!-- <ion-col size-lg="6" size-xl="6" size-xs="12" size-sm="12" size-md="10" offset-md="1">

        <div id="right-panel">
          <ion-img src="../assets/qrcode_iphone.png" alt="iPhone with QR Code" class="iphone animate__animated animate__fadeInRight"></ion-img>
        </div>

      </ion-col> -->

    </ion-row>
  </ion-grid>

  <a href="https://wa.link/mglhz6" class="float animate__animated animate__fadeInRight animate__delay-2s" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>



  <!-- <div id="container">
    <a href="https://www.visity.io/" target="_blank">
      <ion-img src="../assets/visity.png" alt="Visity Logo" class="logo"></ion-img>
    </a>
    <h1 class="animate__animated animate__fadeInLeft">We Simplify Event Check-Ins</h1>
    <p>by generating a unique QR Code for all your attendees</p>  
  </div>

  <div>
    <ion-menu-toggle>
      <h3><ion-text color="primary">Click here</ion-text> to learn more</h3>
    </ion-menu-toggle>
  </div> -->


  <!-- <div class="footer">

  </div> -->

</ion-content>
 
