

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>visity.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding container animate__animated animate__fadeIn animate__delay-1s">
 
    <h1>Why Visity?</h1>

    <p>
      So why choose Visity? Here are just a few of the benefits event organizers can expect to receive:
    </p>

    <ol>

      <li>
        Convenience: Visity's dynamic QR code system makes it quick and easy to check in and out of events, saving time and effort for attendees and event organizers alike.
      </li>

      <li>
        Customization: Visity's system can be tailored to fit the needs of your event, allowing you to choose the information displayed on the QR code and customize the check-in and checkout process to fit your needs.
      </li>

      <li>
        Security: By using a digital check-in system, you can more easily track and verify the identity of attendees, potentially improving the overall security of your event.
      </li>

      <li>
        Easy to use: Visity's system is user-friendly and easy to use, making it accessible for attendees and event organizers alike.
      </li>

    </ol>

    <p>
      Whether you are an event organizer or an attendee, Visity helps you experience a hassle-free event from start to finish. We look forward to helping you streamline your next event with our dynamic QR code system.
    </p>


</div>

<a href="https://wa.link/mglhz6" class="float animate__animated animate__fadeInRight animate__delay-2s" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>

</ion-content>
